/* Shortcode Stuff */

.sb_one_half {
	width: 48%;
}
.sb_one_third {
	width: 30.66%;
}
.sb_two_third {
	width: 65.33%;
}
.sb_one_fourth {
	width: 22%;
}
.sb_three_fourth {
	width: 74%;
}
.sb_one_fifth {
	width: 16.8%;
}
.sb_two_fifth {
	width: 37.6%;
}
.sb_three_fifth {
	width: 58.4%;
}
.sb_four_fifth {
	width: 67.2%;
}
.sb_one_sixth {
	width: 13.33%;
}
.sb_five_sixth {
	width: 82.67%;
}
.sb_one_half, .sb_one_third, .sb_two_third, .sb_three_fourth, .sb_one_fourth, .sb_one_fifth, .sb_two_fifth, .sb_three_fifth, .sb_four_fifth, .sb_one_sixth, .sb_five_sixth {
	position: relative;
	margin-right: 4%;
	float: left;
}
.last {
	margin-right: 0 !important;
	clear: right;
}
.clearboth {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width: 100%;
}
#sbuddy_box {
	padding: 18px 24px 0px 23px;
}
.sbuddy_box_green {
	color: #7ea57b;
	background: #dff7dd;
	border: 1px solid #f1f9f0;
	-moz-box-shadow: inset 0 0 45px #cbe5c9;
	-webkit-box-shadow: inset 0 0 45px #cbe5c9;
	box-shadow: inset 0 0 45px #cbe5c9;
}
.sbuddy_box_red {
	color: #ad7676;
	background: #ffd9d5;
	border: 1px solid #fceeec;
	-moz-box-shadow: inset 0 0 45px #f0bfba;
	-webkit-box-shadow: inset 0 0 45px #f0bfba;
	box-shadow: inset 0 0 45px #f0bfba;
}
.sbuddy_box_yellow {
	color: #ada771;
	background: #f9f9dc;
	border: 1px solid #fbfbef;
	-moz-box-shadow: inset 0 0 45px #efefc0;
	-webkit-box-shadow: inset 0 0 45px #efefc0;
	box-shadow: inset 0 0 45px #efefc0;
}
.sbuddy_box_blue {
	color: #80acb0;
	background: #ddf5f7;
	border: 1px solid #f1fafb;
	-moz-box-shadow: inset 0 0 45px #c6edf0;
	-webkit-box-shadow: inset 0 0 45px #c6edf0;
	box-shadow: inset 0 0 45px #c6edf0;
}
.sbuddy_box_white {
	color: #737373;
	background: #fafafa;
	border: 1px solid #fafafa;
	-moz-box-shadow: inset 0 0 45px #e7e7e7;
	-webkit-box-shadow: inset 0 0 45px #e7e7e7;
	box-shadow: inset 0 0 45px #e7e7e7;
}
#sbuddy_box_content {
}
#sbuddy_box_title {
	font-size: 17px;
}
.sb_tooltip {
	display: inline;
	position: relative;
}
.sb_tooltip:hover:after {
	background: #333;
	background: rgba(0,0,0,.8);
	border-radius: 5px;
	bottom: 26px;
	color: #fff;
	content: attr(title);
	left: 20%;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	width: 220px;
}
.sb_tooltip:hover:before {
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	bottom: 20px;
	content: "";
	left: 50%;
	position: absolute;
	z-index: 99;
}